@import "normalize";
@import "bourbon";
@import "settings";
@import "neat";
@import "scut";

html, body {
    height: 100%;
}

body {
    perspective: 20000px;
}

// .banner {
//     width: 728px;
//     height: 90px;
// }

// .more4-logo-container {
//     position: relative;
//     top: 50%;
//     left: 50%;
//     width: 60px;
//     height: 60px;
//     // background: red;
//     // transform: translateX(-50%);
//     // transform: translateY(-50%);
// }

// .tri {
//     height: 0;
//     width: 0;
//     border-width: 70px;
//     border-style: solid;
//     border-color: transparent;
//     border-top: 0;
//     border-bottom-color: red;
//     /* transform: scaleY(.2); */
//     transform-origin: 0 100%;
//     border-top-right-radius: 10px;
//     transition: 0.3s;

//     &:hover {
//         transform: scaleY(0);
//     }
// }



.viewport {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;
    // background: url("../img/2000px-More4_logo.svg.png") 0 0 no-repeat;
    background-size: 100%;
    outline: 1px solid red;
    -webkit-transform-style: preserve-3d;
    // transform: rotate3d(1,1,0,60deg);
}

.flip-container {
    position: absolute;
    top: 25%;
    left: 0%;
    width: 25%;
    height: 25%;
    // transform: rotate(0deg);
}

$dur: 1.5s;
$startDelay: 2;
$delay: $dur * 0 + $startDelay;
$delay1: $dur * 0.3 + $startDelay;
$delay2: $dur * 0.6 + $startDelay;

.flip-card {
    position: absolute;
    width: 96%;
    height: 96%;
    top: 2%;
    left: 2%;
    transform-origin: 50% 50%;
    -webkit-animation-name: flip, zindex;
    -webkit-animation-duration: $dur;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: both; // position the el to match the start and end position of the animation
    -webkit-transform-style: preserve-3d;
    -webkit-animation-delay: $delay;
    // z-index: 3;
    path {
        fill: #ffe100; // yellow
    }
}
    .flip-card--1 {
        // z-index: 2;
        -webkit-animation-name: flip, zindex1;
        -webkit-animation-delay: $delay1;
        path {
            fill: #ff007f; // pink
        }
    }
    .flip-card--2 {
        // z-index: 1;
        -webkit-animation-name: flip, zindex2;
        -webkit-animation-delay: $delay2;
        path {
            fill: #fa9228; // orange
        }
    }



@-webkit-keyframes flip {
    0% {
        transform: rotate(90deg) rotate3d(1, 1, 0, 180deg);
        // opacity: 0;
    }
    25% {
        // opacity: 1;
    }
    100% {
        transform: rotate(90deg) rotate3d(1, 1, 0, 360deg);
    }
}
@-webkit-keyframes zindex {
    0% {
        // transform: rotate(90deg) rotate3d(1, 1, 0, 180deg);
        // opacity: 0;
        z-index: 3;
    }
    10% {
        // opacity: 1;
    }
    50% {
        z-index: 1;
    }
    100% {
        // transform: rotate(90deg) rotate3d(1, 1, 0, 360deg);
        z-index: 1;
    }
}
@-webkit-keyframes zindex1 {
    0% {
        // transform: rotate(90deg) rotate3d(1, 1, 0, 180deg);
        // opacity: 0;
    }
    10% {
        // opacity: 1;
    }
    50% {
        z-index: 2;
    }
    100% {
        // transform: rotate(90deg) rotate3d(1, 1, 0, 360deg);
        z-index: 2;
    }
}
@-webkit-keyframes zindex2 {
    0% {
        // transform: rotate(90deg) rotate3d(1, 1, 0, 180deg);
        // opacity: 0;
        z-index: 1;
    }
    10% {
        // opacity: 1;
    }
    50% {
        z-index: 3;
    }
    100% {
        // transform: rotate(90deg) rotate3d(1, 1, 0, 360deg);
        z-index: 3;
    }
}


.square {
    display: none;
    width: 200px;
    height: 200px;
    background-color: red;
    transform-origin: 50% 50%;
    transform: rotate(0deg) rotate3d(1, 1, 0, 0deg);
    transition: all .5s;
}
